[build]
  command = "echo no build command"
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "22"
  
[[redirects]]
  from = "/func/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[headers]]
    for = "/*"
      [headers.values]
      Access-Control-Allow-Origin = "*"